code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: rgb(49, 52, 56);
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  
  
}

h2 {
  margin-left: 925px;
  margin-top: 150px;
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;

}

#container 
{ 
height: 200px; 
position: relative; 
width: 200px; 
} 
#viewport 
{ 
height: 100%; 
width: 100%; 
} 
#controls 
{ 
bottom: 0; 
left: 0; 
position: absolute; 
width: 100%; 
}
